.jumbotron {
  padding-top: 6rem;
  background-color: #ffa07a;
}

#latihan {
  background-color: #ffa07a;
  padding-top: 4rem;
}

#contact {
  background-color: #ffa07a;
  padding-top: 4rem;
}

section {
  padding-top: 6rem;
}
